.booking-form{
    margin-top: 20px;
}

.booking-cta{
    margin-top: 55px;
}

.login-sign{
    margin-right: 20px;
    padding-right: 50px;
}

.my-card{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#booking{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
