{% extends 'home_base.html' %}


<!-- {#  Header Bloack  #} -->
{% block header %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bus_list.css') }}" />
<title>Bus List</title>
{% endblock %}


<!-- Boday Bloack -->
{% block body %}

<!-- Navigaion Bar -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Logo TXT -->
    <a class="navbar-brand" href="/">DeshTrip</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Left Side -->
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
        </ul>

        <!-- Right Side -->
        <ul class="navbar-nav ml-auto">
            {% if full_name != None %}
            <li class="nav-item">
                <a class="nav-link">Welcome, {{session['user_name']}}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('log_out')}}">Sign-Out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Create Bus List -->
<div class="container">
    <h1 class="all-bus-header">All available bus list.</h1>
    {% for x in loooop %}

    <!-- Create List -->
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
      <p>{{ x }} Basic card</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

<!-- Body Footer End -->
{% block footer_js %}
{% endblock %}