{% extends 'home_base.html' %}


<!-- {#  Header Bloack  #} -->
{% block header %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
<title>Bus Booking</title>
{% endblock %}


<!-- Boday Bloack -->
{% block body %}

<!-- Navigaion Bar -->
<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Logo TXT -->
    <a class="navbar-brand" href="/">DeshTrip</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <!-- Left Side -->
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
        </ul>
        <!-- Right Side -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link">Signup/Login</a>
            </li>
        </ul>
    </div>
</nav>


<!-- Input Section -->
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">

                <!-- Intro -->
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Make your reservation NOW!</h1>
                        <p>is a premium online booking portal which allows you to purchase tickets for </br>
                            various bus services,launch services, air tickets and events.</p>
                    </div>
                </div>

                <!-- Booking Brom -->
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            <!-- Destination From  -->
                            <div class="form-group">
                                <span class="form-label">From</span>
                                <select class="form-control" id="sel1" name="sellist1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>

                            <!-- Destination TO  -->
                            <div class="form-group">
                                <span class="form-label">To</span>
                                <select class="form-control" id="sel1" name="sellist1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>

                            <!-- Date Input -->
                            <div class="form-group">
                                <span class="form-label">Date</span>
                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>

                            <!-- Time Input -->
                            <div class="form-group">
                                <span class="form-label">Time</span>
                                <input class="form-control" type="time" value="13:45:00" id="example-time-input">
                            </div>

                            <!-- Set Needed Seat  -->
                            <div class="form-group">
                                <span class="form-label">Seat Needed?</span>
                                <select class="form-control" id="set_needed" name="sellist1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>

                            <!-- Submition Button -->
                            <div class="form-btn">
                                <button class="btn btn-primary btn-block">Check availability</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Body Footer End -->
{% block footer_js %}
{% endblock %}