{% extends 'auth_base.html' %}

{#Include JS Script Or Anything in Header#}
{% block header %}
    <title>Sign-In</title>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{# Alert Block in Body Section #}
{% block alert %}
    {% if show_alret %}
        <div class="alert alert-warning alert-">
            {{ alret_message }}
        </div>
    {% endif %}
{% endblock %}

{# Input-Block in Body Section #}
{% block input_from %}
    <!-- FORM for SIGN-UP -->
    <form class="login100-form validate-form p-l-55 p-r-55 p-t-150" action="{{ url_for('sign_in') }}" method="post">
        <span class="login100-form-title">
            Sign In
        </span>

        <!-- UserName: INPUT -->
        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
            <input id="phone_num" class="input100" type="text" name="phone_num" placeholder="Phone Number" required>
        </div>

        <!-- Password: INPUT -->
        <div class="wrap-input100 validate-input" data-validate="Please enter password" >
            <input id="password" class="input100" type="password" name="password" placeholder="Password" required>
        </div>

        <!-- SUBMIT: INPUT -->
        <div class="container-login100-form-btn">
            <button value="sign-in" class="login100-form-btn" onclick="loadDoc()">
                Sign-In
            </button>
        </div>

        <!-- SIGN-UP: BUTTON -->
        <div class="flex-col-c p-t-40 p-b-40">
						<span class="txt1 p-b-9">
							Don’t have an account?
						</span>
            <a href="{{ url_for('sign_up') }}" class="txt3">
                Sign up now
            </a>
        </div>
    </form>
{% endblock %}
